<%- include('./_header.ejs'); %>
<%- include('./_offer.ejs'); %>

<div class="wtf-wrapper">
<section class="wtf">
  <div class="flexible-container">

    <h2>
        Зачем нужен дизайн-проект?
      </h2>
    <div class="wtf__content clearfix">
      <ul>
        <li>
          <i class="fa fa-check"></i> Вы хотите уникальный и продуманный интерьер для дома или квартиры, отражающий Ваши желания и разработанный с учетом Вашего характера, привычек и целей.
        </li><!--
        --><li>
          <i class="fa fa-check"></i> Вы хотите изменить планировку помещения, но не знаете, как сделать это эргономично и не нарушая технических стандартов.
        </li><!--
        --><li>
          <i class="fa fa-check"></i> Вы хотите провести ремонт помещения строго в соответствии с запланированным бюджетом и без лишних затрат.
        </li><!--
        --><li>
          <i class="fa fa-check"></i> Вы хотите оформить кафе, ресторан или офис в своём, особенном, стиле.
        </li>
      </ul>
    </div>
    <p class="wtf__content__conclusion">
      Если хотя бы один из этих пунктов про Вас, профессиональный дизайн интерьера - это то, что Вам нужно.
    </p>
  </div>
</section>
</div>
<section class="stages clearfix">
  <div class="flexible-container">
    <h2 class="stages__title">
        Этапы работы
      </h2>
    <div class="stages__blocks">
      <div class="stages__blocks__stage clearfix">
        <div class="stages__blocks__stage__content-wrapper">
          <div class="stages__blocks__stage__content">
            <h3 class="stages__blocks__stage__title">
                1. Встреча заказчика и дизайнера
              </h3>
              <ul>
                <li>Знакомство заказчика и дизайнера</li>
                <li>Обсуждение пожеланий и требований к дизайн-проекту</li>
                <li>Выполнение необходимых замеров</li>
                <li>Определение желаемой планировки помещения</li>
                <li>Согласование стоимости дизайн-проекта</li>
              </ul>
          </div>
        </div>
        <figure class="stages__blocks__stage__figure">
          <img alt="Встреча заказчика и дизайнера" class="stages__blocks__stage__figure__img" src="./images/stage-1.jpg" />
        </figure>
      </div>
      <div class="stages__blocks__stage clearfix">
        <figure class="stages__blocks__stage__figure">
          <img alt="Разработка планировочного решения" class="stages__blocks__stage__figure__img" src="./images/stage-2.jpg" />
        </figure>
        <div class="stages__blocks__stage__content-wrapper">
          <div class="stages__blocks__stage__content">
            <h3>
                2. Разработка планировочного решения
              </h3>
              <ul>
                <li>Разработка технического задания на проектирование с учетом всех предпочтений заказчика</li>
                <li>Разработка нескольких вариантов зонирования</li>
                <li>Подготовка плана перепланировки, готового к согласованию в необходимых инстанциях</li>
              </ul>
          </div>
        </div>

      </div>
      <div class="stages__blocks__stage clearfix">
        <div class="stages__blocks__stage__content-wrapper">

          <div class="stages__blocks__stage__content">
            <h3>
              3. Создание компьютерной 3D-модели помещения и чертежей
            </h3>
              <ul>
                <li>Создание 3D-макета</li>
                <li>Разработка индивидуального стиля интерьера в соответствии с Вашими предпочтениями</li>
                <li>Проведение виртуальной экскурсии по Вашей будущей квартире</li>
                <li>Разработка альбома чертежей и 3D-видов</li>
              </ul>
          </div>
        </div>
        <figure class="stages__blocks__stage__figure">
          <img alt="Создание компьютерной 3D-модели помещения и чертежей" class="stages__blocks__stage__figure__img" src="./images/stage-3.jpg" />
        </figure>
      </div>
      <div class="stages__blocks__stage clearfix">
        <figure class="stages__blocks__stage__figure">
          <img alt="Авторский надзор" class="stages__blocks__stage__figure__img" src="./images/stage-4_.jpg" />
        </figure>
        <div class="stages__blocks__stage__content-wrapper">
          <div class="stages__blocks__stage__content">
            <h3>
                4. Авторский надзор
              </h3>
              <ul>
                <li>Решение возникающих в процессе ремонта дополнительных вопросов</li>
                <li>Контроль работы строителей</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-me">
  <div class="flexible-container">

    <h2>
        Обо мне
      </h2>
    <div class="about-me__content clearfix">
      <img alt="Юлия Милихина. Дизайнер Интерьеров" src="./images/me.jpg" class="about-me__image" />
      <p>
        Меня зовут Юлия Милихина. Я профессионально занимаюсь дизайном интерьера 5 лет. А моё стремление преобразовывать пространство в красивое и функциональное проявилось гораздо раньше.
      </p>
      <p>
        Высшее архитектурно-строительное образование получила в Сибирском Государственном Индустриальном Университете. Затем дополнительная специализация Дизайн Интерьера и необходимые курсы по работе в графических программах.
      </p>
      <p>
        В своей работе всегда исхожу из потребностей и пожеланий заказчика. Ваш интерьер будет глубоко индивидуальным, ориентированным на Вас и Вашу семью.
      </p>
    </div>
    <div class="about-me__certs gallery-container clearfix" data-page-id="certs">

      <div class="photo-container r5m-gallery-link" rel="gr-reviews">
        <a class="photo-container__photo-updater photo-container__photo-src " href="#">
          <figure class="r5m-gallery-img" data-alt="Союз строителей Омской области" data-href="./images/cert-1.jpg" data-file-name="cert-1.jpg">
            <img src="images/cert-1s.jpg" alt="Союз строителей Омской области" />
            <figcaption>Аттестация</figcaption>
          </figure>
        </a>
      </div>
      <div class="photo-container r5m-gallery-link" rel="gr-reviews">
        <a class="photo-container__photo-updater photo-container__photo-src" href="#">
          <figure class="r5m-gallery-img" data-alt="Союз строителей Омской области (продолжение)" data-href="./images/cert-2.jpg" data-file-name="cert-2.jpg">
            <img src="images/cert-2s.jpg" alt="Союз строителей Омской области (продолжение)" />
            <figcaption>Союз строителей Омской области (продолжение)</figcaption>
          </figure>
        </a>
      </div>
      <div class="photo-container revert r5m-gallery-link" rel="gr-reviews">
        <a class="photo-container__photo-updater photo-container__photo-src" href="#">
          <figure class="r5m-gallery-img" data-alt="Дизайн интерьера" data-href="./images/cert-3.jpg" data-file-name="cert-3.jpg">
            <img src="images/cert-3s.jpg" alt="Дизайн интерьера" />
            <figcaption>Дизайн интерьера</figcaption>
          </figure>
        </a>
      </div>
      <div class="photo-container revert r5m-gallery-link" rel="gr-reviews" >
        <a class="photo-container__photo-updater photo-container__photo-src "  href="#">
          <figure class="r5m-gallery-img" data-alt="3D Max" data-href="./images/cert-4.jpg" data-file-name="cert-4.jpg">
            <img src="images/cert-4s.jpg" alt="3D Max" />
            <figcaption>3D Max</figcaption>
          </figure>
        </a>
      </div>
      <div class="photo-container revert r5m-gallery-link" rel="gr-reviews" >
        <a class="photo-container__photo-updater photo-container__photo-src " href="#">
          <figure class="r5m-gallery-img" data-alt="ArchiCAD" data-href="./images/cert-5.jpg" data-file-name="cert-5.jpg">
            <img src="images/cert-5s.jpg" alt="ArchiCAD" />
            <figcaption>ArchiCAD</figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>

</section>
<section class="reviews">
  <div class="flexible-container">

    <h2>
        Отзывы
      </h2>
    <div class="additional-photo-wrapper item-carousel carousel">
      <ul>
        <li class="">
          <figure class="review__figure">
            <img alt="Квартира площадью 73 кв.м." class="review__figure__img" src="./images/review-1.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                Квартира площадью 73 кв.м.
              </h3>
              <p>
                Обратилась за помощью к Юлии. Она грамотно распланировала этапы ремонта. Сделала замеры, подготовила варианты планировок.
              </p>
              <p>
                Юлия помогла нам в процессе ремонта и, благодаря дизайнеру, мы его сделали за максимально короткий срок и смогли переехать в нашу новую квартиру.
              </p>
              <p class="review__sign">
                Анна К., экономист, 30 лет
              </p>
            </div>
          </div>

        </li>
        <li class="">
          <figure class="review__figure">
            <img alt="Квартира площадью 157 кв.м." class="review__figure__img" src="./images/review-2.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                  Квартира площадью 157 кв.м.
                </h3>
              <p>
                Уже через месяц мы получили готовый дизайн проект нашей квартиры. Это был план к действию! Все было продумано до мелочей, поэтому руководить ремонтом было очень легко.
              </p>
              <p>
                Если у нас оставались  вопросы, то Юля давала нам подробные консультации. Также она периодически посещала квартиру и контролировала процессы ремонта.
              </p>
              <p class="review__sign">
                Ольга В., зам. директора по маркетингу, 34 года
              </p>
            </div>
          </div>
        </li>
        <li>
          <figure class="review__figure">
            <img alt="Комната для переговоров" class="review__figure__img" src="./images/review-4.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                Комната для переговоров
              </h3>
              <p>
                Заказывал у Юлии Милихиной дизайн комнаты переговоров! Она отрисовала три варианта. Выбрали рабочий, внесли корректировки.
              </p>
              <p>
                На всё ушло не больше недели. Результат даже превзошел ожидания. Плюс ко всему Юлия вела ещё авторский надзор и не пришлось бегать по городу в поисках светильников и декоративных элементов.
              </p>
              <p class="review__sign">
                Александр М., собственник бизнеса, 34 года
              </p>
            </div>
          </div>
        </li>
        <li class="">
          <figure class="review__figure">
            <img alt="Кухня и прихожая" class="review__figure__img" src="./images/review-3.jpg" />
          </figure>
          <div class="review__content-wrapper">
            <div class="review__content">
              <h3>
                Кухня и прихожая
              </h3>
              <p>
                Заказывали кухню в мебельном салоне по Юлиным чертежам. Сотрудникам салона не пришлось ничего менять в проекте. И в результате я получила кухню своей мечты.
              </p>
              <p>
                Профессиональный подход, осведомленность о современных тенденциях дизайна интерьеров, доброжелательное отношение к заказчику оставило самое приятное впечатление от работы с Юлией.
              </p>
              <p class="review__sign">
                Елена П., начальник IT-подразделения, 57 лет
              </p>
            </div>
          </div>
        </li>
      </ul>
      <span class="carousel__left-button"><i class="fa fa-chevron-left"></i></span>
      <span class="carousel__right-button"><i class="fa fa-chevron-right"></i></span>
    </div>
  </div>
</section>

<%- include('./_offer.ejs'); %>
<%- include('./_footer.ejs'); %>

<%- include('./_forms.ejs'); %>
